{% extends 'base/base.html' %}

{% block title %}
Green Market | Login
{% endblock %}

{% block content %}
<main class="form-signin w-100 m-auto">
    <div class="form-group mt-5">
        <form method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please Login</h1>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
        </form>
    </div>

</main>
{% endblock %}