{% extends 'base/base.html' %}

{% block title %}
Green Market | Reset your password
{% endblock %}

{% block content %}
<main class="form-signin vh-100 m-auto mt-4 justify-content-center">
    {% if validlink %}
    <div class="form-group mt-5">
        <h1>Set new Password</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <p><input type="submit" value="Set password"></p>
        </form>
    </div>
    {% else %}
    <p>The password reset link was invalid</p>
    {% endif %}

</main>
{% include 'base/footer.html' %}
{% endblock %}