{% extends 'base/base.html' %}

{% block title %}
{{user.username}} | Change Password
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'user/sidebar.html' %}
        <div class=" col py-3">
            <main class="form-signin vh-100 m-auto mt-4 justify-content-center">
                <div class="form-group mt-5">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <p><input type="submit" value="Change"></p>
                    </form>
                </div>
            </main>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% endblock %}