{% load static %}

<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'core:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="{% url 'core:shop' %}" class="nav-link px-2 text-white">Shop</a></li>
                <li>
                    <form class="ms-2 d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                            aria-label="Search">
                        <button class="btn btn-outline-light btn-sm ms-1">Search</button>
                    </form>
                </li>
            </ul>

            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{% url 'core:vendor' %}" class="nav-link px-2 text-white">Became Vendor</a></li>
                    <li><a href="{% url 'core:contact' %}" class="nav-link px-2 text-white">Contact</a></li>
                    <li><a href="{% url 'core:about' %}" class="nav-link px-2 me-4 text-white">About</a></li>
                    {% if user.is_authenticated %}
                    <li><button type="button" class="btn btn-outline-light me-2">Favourites</button></li>
                    <li><button type="button" class="btn btn-outline-light">Cart</button></li>
                    <li><button type="button" class="btn btn-outline-light">Logout</button></li>
                    {% else %}
                    <li><button type="button" class="btn btn-outline-light me-2">Login</button></li>
                    <li><button type="button" class="btn btn-warning">Sign-up</button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>