{% extends 'base/base.html' %}

{% block title %}
{{user.username}} | Edit Adress
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'user/sidebar.html' %}
        <div class=" col py-3">
            <div class="vh-100 m-auto mt-4 justify-content-center">
                <div>
                    <h2 class="text-center">Edit Adress form here</h2>
                    <div class="container d-flex text-center m-2">
                        {% for address in addres_list %}
                        <div class="container">
                            <div>{{address.address_title}}</div>
                            <div>{{address.address_line_1}}</div>
                            <div>{{address.address_line_2}}</div>
                            <div>{{address.city}}</div>
                            <div>{{address.postal_code}}</div>
                            <div>{{address.state}}</div>
                            <div>{{address.country}}</div>
                            <a href="{% url 'accounts:user_edit_address_form' user.username address.id %}"
                                class="btn btn-primary">Edit</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% endblock %}