{% extends 'base/base.html' %}

{% block title %}
Green Market | {{user.username}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'user/sidebar.html' %}
        <div class=" col py-3">
            <div class="vh-100 m-auto mt-4 justify-content-center">
                <div>
                    <h2 class="text-center">Personal information</h2>
                    <div>username: {{user.username}}</div>
                    <div>first name: {{user.first_name}}</div>
                    <div>last name: {{user.last_name}}</div>
                    <br>
                    <br>
                </div>
                <div class="mt-3">
                    <h2 class="text-center">Addres</h2>
                    <hr>
                    <div class="container d-flex text-center m-2">
                        {% for address in addres_list %}
                        <div class="container">
                            <div>{{address.address_title}}</div>
                            <div>{{address.address_line_1}}</div>
                            <div>{{address.address_line_2}}</div>
                            <div>{{address.city}}</div>
                            <div>{{address.postal_code}}</div>
                            <div>{{address.state}}</div>
                            <div>{{address.country}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-3">
                    <h2 class="text-center">Phone number</h2>
                    <hr>
                    <div class="container d-flex text-center m-2">
                        {% for number in phone_list %}
                        <div class="container">
                            <div>{{number.phone_title}}</div>
                            <div>{{number.number}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% endblock %}